*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #18314F ;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #C1CFDA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover, .navbar a.active {
    color: #18314F;
}
.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    max-width: 700px;
    color: white;
    
}
.home-content h1{
    font-size: 50px;
    font-weight: 700;
    margin: 10px 0 10px;
}
.home-content h3{
    font-size: 30px;
    font-weight: 700;
    color: #C1CFDA;
}
.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}
.home-content .btn-box{
    display: flex;
    width: 200px;
    height: 50px;
}
.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-grow: 4;
    width: 40px;
    height: 100%;
    border: 2px solid #C1CFDA;
    background: #C1CFDA;
    border-radius: 8px;
    font-size: 19px;
    color:  black;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}
.photo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:17vw;
    height: 16vw;
    margin: 10px 0 10px;
    background: #C1CFDA; ;
}
.photo img{
    width: 15vw;
}
.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px; 
    background: transparent;
    border: 2px solid #C1CFDA;
    border-radius: 50%;
    font-size: 20px;
    color:#C1CFDA;
    text-decoration: none;

}